/******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
.flex {
  flex-direction: row;
  flex-wrap: wrap;
}

.spots {
  &__item {
    flex-basis: 32.7%;
    margin: 0 3px 10px;
  }

  &__title {
    font-size: 25px;
    font-weight: 600;
  }
}

.relax {
  &__inner {
    @include p-base($top: -17%, $height: 117%) {
      background: $cBgGray;
    }
  }

  &__container {
    justify-content: space-between;
  }

  &__item {
    flex-basis: 47%;
  }
}
