/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
  font-family: "Shadows Into Light", "Noto Sans JP", sans-serif;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.font-sm {
  font-size: 14px;
}

.font-md {
  font-size: 17px;
}

.font-lr {
  font-size: 17px;
}

.font-lg {
  font-size: 25px;
}

.mb-sm {
  margin-bottom: 16px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}

.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}

.main-title {
  @extend .font-lg;
  font-weight: 600;
  margin-bottom: 0;
}

.sub-title {
  @extend .font-sm;
  color: $cSubTitle;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spots {
  @extend .content-width;

  &__inner {
    @extend .flex;
  }

  &__item {
    margin: 0 0 10px;
    position: relative;
  }

  &__title {
    @extend .font-lr;
    @extend .mb-sm;

    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100px;
    top: 5px;
    left: 5px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5);

    color: aqua;
    text-align: center;

    z-index: 2;
  }

  &__btn {
    text-align: center;
    flex-basis: 100%;
  }
}

.relax {
  &__inner {
    position: relative;

    @include p-base($top: -10%, $height: 110%) {
      background: $cBgGray;
    }
    // &::before {
    //   content: '';
    //   position: absolute;
    //   bottom: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 90%;
    //   background-color: $cBgGray;
    // }
  }

  &__header {
    position: relative;
    z-index: 2;
    @extend .content-width;
  }

  &__container {
    position: relative;
    z-index: 2;
    @extend .flex;
    @extend .content-width;
    @extend .pb-sm;
  }

  &__title {
    @extend .font-md;
    @extend .mb-sm;
  }

  &__btn {
    text-align: center;
    flex-basis: 100%;
  }

  &__img {
    height: 150px;
    overflow: hidden;
    margin-bottom: 5px;

    & > img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}
